/* CSS Warta Bagian Top */
#wartaus {
    background-image: linear-gradient(rgba(9, 5, 54, 0.4),rgba(5, 4, 46, 0.75)),url("img/background_gereja/background_7_ebebenhaezer.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-position-y: inherit;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
}

    #wartaus h2 {
        color: #fff;
        padding-top: 60px;
        font-size: 40px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        max-width: 80%;
        margin: 0 auto;
        word-wrap: break-word;
    }
/* Akhir CSS Warta Bagian Top */


/* CSS Content Warta Section */
section.warta {
    width: 100%;
    padding: 3% 100px 30px;
}

.tombolbaca {
    padding: 10px 18px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: var(--primary-clr);
    width: 100%;
    font-size: 15px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

    .tombolbaca:hover {
        background-color: var(--light-heading-clr);
        color: var(--primary-clr);
    }

.warta .warta-contents {
    flex-wrap: wrap;
    display: flex;
    justify-items: center;
    height: 100%;
}
.warta .warta-contents h1 {
    width: 100%;
    padding: 70px 0 70px;
}

    .warta .warta-contents .warta-card {
        display: flex;
        flex-direction: column;
        flex-basis: calc(calc(100% / 3) - 1.2%);
        position: relative;
        height: auto;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
        margin: 5px 5px 5px 5px;
        cursor: pointer;
        transition: all 0.3s;
    }

        .warta .warta-contents .warta-card:hover {
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        }

.warta-contents .warta-card ::deep img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.image-wrapper {
    position: relative;
    margin-bottom: 10px;
}

    .image-wrapper img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
    }

.warta .warta-contents .warta-card .tanggal {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(16, 49, 107, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
}

    .warta .warta-contents .warta-card .tanggal h3 {
        font-size: 43px;
        color: #fafaf1;
        font-family: "Noto Serif Display", serif;
        margin: 0;
    }

.tanggal-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warta .warta-contents .warta-card .tanggal h4 {
    font-size: 11px;
    color: #fff;
    font-family: "Noto Serif Display", serif;
    margin: 0;
}

.warta .warta-contents .warta-card .tanggal h5 {
    font-size: 15px;
    padding-top: 10px;
    padding-right: 5px;
    color: #fff;
    font-family: "Noto Serif Display", serif;
    margin: 0;
}
/* Akhir CSS Content Warta Section */


/* CSS Type Input Text dan Select dan Textarea */
::deep .input-box label {
    color: #333;
    font-size: 14px;
}

::deep .input-box input {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 40px 5px 15px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    ::deep select.custom-select:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

::deep .custom-select-wrapper {
    position: relative;
}

::deep .custom-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
    transform: translateY(-50%);
}

::deep select.custom-select option {
    background-color: #fff;
    color: #333;
}


::deep select.custom-select {
    max-height: 200px;
    overflow-y: auto;
}
/* Akhir CSS Type Input Text dan Select dan Textarea */


/* CSS Search dan Pagination */
::deep .penc .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .penc .input-group {
    flex-wrap: nowrap;
    width: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::deep .penc .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 16px;
}

::deep .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::deep .penc .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::deep .penc {
    padding: 30px 10px 30px;
    margin: 0;
}

::deep .pagination {
    padding: 30px 0px 10px;
    margin: 0;
    font-size: 16px;
}

::deep .page-item {
    margin: 0 5px;
}

::deep .page-link {
    padding: 5px 10px;
    font-size: 16px;
}

::deep .page-item.active .page-link {
    background-color: var(--primary-clr);
    border-color: var(--primary-clr);
    color: white;
}
/* Akhir CSS Search dan Pagination */


/* --------------------------------------------------- Responsive --------------------------------------------------- */
/* Responsive 1160 */
@media (max-width:1160px) {

    /* CSS Content Warta Section */
    section.warta {
        padding: 8% 10px 30px;
    }

    .warta .warta-contents .warta-card {
        flex-basis: calc(calc(100% / 2) - 1.5%);
    }
    /* Akhir CSS Content Warta Section */
}


@media (max-width:968px) {

    #wartaus {
        background-attachment: scroll;
        background-image: linear-gradient(rgba(9, 5, 54, 0.4),rgba(5, 4, 46, 0.75)),url("img/background_gereja/background_2_ebebenhaezer.jpg");
    }

}


/* Responsive 768 */
@media (max-width:768px) {

    /* CSS Content Warta Section */
    section.warta {
        width: 100%;
    }
    /* Akhir CSS Content Warta Section */


    /* CSS Type Input Text dan Select dan Textarea */
    ::deep select.custom-select {
        font-size: 14px;
        padding: 8px 35px 8px 10px;
    }

    ::deep .custom-arrow {
        right: 10px;
    }
    /* Akhir CSS Type Input Text dan Select dan Textarea */


    /* CSS Search dan Pagination */
    ::deep .penc .input-group {
        width: 100%;
    }
    /* Akhir CSS Search dan Pagination */
}


/* Responsive 690 */
@media (max-width:690px) {

    /* CSS Content Warta Section */
    .warta .warta-contents .warta-card {
        flex-basis: 100%;
    }
    /* Akhir CSS Content Warta Section */
}


/* Responsive 568 */
@media (max-width:568px) {

    /* CSS Content Warta Section */
    #wartaus h2 {
        font-size: 28px;
        padding-top: 70px;
    }
    /* Akhir CSS Content Warta Section */
}


/* Responsive 468 */
@media (max-width:468px) {

    /* CSS Content Warta Section */
    #wartaus h2 {
        font-size: 24px;
        padding-top: 70px;
    }
    /* Akhir CSS Content Warta Section */
}