.cardplus {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}

.edikatib {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

    /* CSS Hyperlink */
    .edikatib .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .edikatib .breadcrumbs {
        display: flex;
        grid-gap: 6px;
        padding: 0;
        margin: 0;
    }

        .edikatib .breadcrumbs li,
        .edikatib .breadcrumbs li a {
            font-size: 14px;
            list-style: none;
        }

            .edikatib .breadcrumbs li a {
                color: var(--blue);
            }

                .edikatib .breadcrumbs li a.active,
                .edikatib .breadcrumbs li.divider {
                    color: var(--dark-grey);
                    pointer-events: none;
                }
/* Akhir CSS Hyperlink */

.form-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* CSS type input Text dan Textarea */
::deep .input-box label {
    color: #333;
    font-size: 14px;
}

::deep .input-box input {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
/* Akhir CSS type input Text dan Textarea */


/* Warna */
.color-box {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.filterbut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

    .filterbut ::deep a {
        text-decoration: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
        background: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 10px;
        color: black;
        font-size: 18px;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }

        .filterbut ::deep a:hover {
            color: #fff;
            background-color: var(--primary-clr);
        }

        .filterbut ::deep a.active {
            background-color: var(--primary-clr);
            color: white;
        }
/* Akhir Warna */