<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//dashboard.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <!-- Akhir Owl Carousel -->

    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Akhir Font Awesome-->

    <link rel="stylesheet" href="~/PKMGerejaEbenhaezer.Web.styles.css" asp-append-version="true" />
</head>
<body>

    <style>
		
    </style>

    <partial name="_SideBar" />

    <section id="content">
        <nav>
            <i class="ri-menu-fill toggle-sidebar"></i>          
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search...">
                    <i class="ri-search-2-line icon"></i>
                </div>
            </form>
            <span class="divider"></span>
            <div class="profile">
                <img src="~/img/logo_gereja.png" alt="">
                <ul class="profile-link">
                    <li><a href="#"><i class="ri-settings-3-line"></i> Pengaturan</a></li>
                    <li>
						<a asp-action="Index" asp-controller="Home" asp-area="">
							<i class="ri-arrow-go-back-fill"></i> Kembali
						</a>
					</li>
                    <li>
						<form asp-action="Logout" asp-controller="Account" asp-area="" method="post" class="formuku">
							<button class="tomboltoa" type="submit"><i class="ri-logout-box-fill"></i> Keluar</button>
						</form>
					</li>
                </ul>
            </div>
        </nav>

		<!-- Body -->
		<div class="container-fluid">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
		<!-- Akhir Body -->
    </section>
    
    <!-- Script js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
