<style>
    * {
        font-family: 'poppins';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --grey: #F1F0F6;
        --dark-grey: #8D8D8D;
        --light: #fff;
        --dark: #000;
        --green: #81D43A;
        --light-green: #E3FFCB;
        --blue: #1775F1;
        --light-blue: #D0E4FF;
        --dark-blue: #0C5FCD;
        --red: #FC3B56;
    }

    html {
        height: 100%;
    }

    body {         
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }


    /* Sidebar */


    #sidebar {
        position: fixed;
        box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
        -webkit-box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
        -moz-box-shadow: 4px 0px 5px 0px rgba(198,181,181,0.75);
        max-width: 260px;
        width: 100%;
        background-color: white;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        transition: all .3s ease;
        z-index: 200;
    }

    #sidebar.hide {
        max-width: 60px;
    }

        #sidebar.hide:hover {
            max-width: 260px;
        }

    #sidebar::-webkit-scrollbar {
        display:none;
    }

        #sidebar .brand {
            font-size: 24px;
            display: flex;
            align-items: center;
            height: 64px;
            font-weight: 700;
            color: #1775F1;
            transition: all .3s ease;
            padding: 0 6px;
        }

        #sidebar .icon {
            min-width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 6px;
        }

        #sidebar .icon-right {
            margin-left: auto;
            transition: all .3s ease;
        }

        #sidebar .side-menu {
            margin: 36px 0;
            padding: 0 20px;   
            transition: all .3s ease;
        }

        #sidebar.hide .side-menu {
            padding: 0 6px;
        }

        #sidebar.hide:hover .side-menu {
            padding: 0 20px;
        }

        #sidebar .side-menu a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: var(--dark);
            padding: 12px 16px 12px 0px;
            transition: all .3s ease;
            border-radius: 10px;
            margin: 4px 0px;
            white-space: nowrap;
        }

            #sidebar .side-menu > li > a:hover {
                background-color: #F1F0F6;
                
            }

            #sidebar .side-menu > li > a.active .icon-right {
                transform: rotateZ(90deg);
            }


            #sidebar .side-menu > li > a.active,
            #sidebar .side-menu > li > a.active:hover
            {
                color: white;
                background-color: #1775F1;
            }

    #sidebar .divider {
        margin-top: 24px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        color: #8D8D8D;
        transition: all .3s ease;
        white-space: nowrap;
    }

        #sidebar.hide:hover .divider {
            text-align: left;
        }

        #sidebar.hide .divider {
            text-align: center;
        }

    #sidebar .side-dropdown {
        padding-left: 48px;
        max-height: 0px;
        overflow-y: hidden;
        transition: all .15s ease;
    }

        #sidebar .side-dropdown.show {
            max-height: 1000px;
        }

        #sidebar .side-dropdown a:hover {
            color: #1775F1;
        }

    #sidebar .logout {
        width: 100%;
        padding: 20px;
    }

        #sidebar.hide .logout {
            display: none;
        }

        #sidebar .logout .wrapper {
            background-color: #F1F0F6;
            padding: 20px;
            border-radius: 10px;
        }  

    /* Akhir Sidebar */
</style>


<!-- Sidebar -->
<section id="sidebar">
    <a href="" class="brand"><i class="ri-admin-fill icon"></i>Admin</a>
    <ul class="side-menu">
        <li><a href="" class="active"><i class="ri-dashboard-fill icon"></i>Dashboard</a></li>

        <!-- Sesi 1 -->
        <li class="divider" data-text="main">Main</li>
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Index"><i class="ri-table-fill icon"></i>Beranda</a></li>
        <li>
            <a href=""><i class="ri-booklet-fill icon"></i>Contoh<i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a href="">Pertama</a></li>
                <li><a href="">Kedua</a></li>
                <li><a href="">Ketiga</a></li>
                <li><a href="">Keempat</a></li>
            </ul>
        </li>
        <!-- Akhir Sesi 1 -->
        <!-- Sesi 2 -->
        <li class="divider" data-text="infromation" >Information</li>
        <li>
            <a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Pengumuman <i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index">Daftar</a></li>
                <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Tambah">Tambah</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="Dashboard" asp-controller="Rayon" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Rayon <i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a asp-area="Dashboard" asp-controller="Rayon" asp-action="Index">Daftar</a></li>
                <li><a asp-area="Dashboard" asp-controller="Rayon" asp-action="Tambah">Tambah</a></li>
            </ul>
        </li>
        <!-- Akhir Sesi 2 -->
    </ul> 
</section>
<!-- Akhir Sidebar -->


<!-- Navbar Dashboard Admin -->
<!-- Akhir Navbar Dashboard Admin -->


