<!-- Sidebar -->
<section id="sidebar">
    <a href="" class="brand"><i class="ri-admin-fill icon"></i>Admin</a>
    <ul class="side-menu">
        <li><a href="" class="active"><i class="ri-dashboard-fill icon"></i>Dashboard</a></li>

        <!-- Sesi 1 -->
        <li class="divider" data-text="main">Main</li>
        <li><a asp-area="Dashboard" asp-controller="Home" asp-action="Index"><i class="ri-table-fill icon"></i>Beranda</a></li>
        <li>
            <a href=""><i class="ri-booklet-fill icon"></i>Contoh<i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a href="">Pertama</a></li>
                <li><a href="">Kedua</a></li>
                <li><a href="">Ketiga</a></li>
                <li><a href="">Keempat</a></li>
            </ul>
        </li>
        <!-- Akhir Sesi 1 -->
        <!-- Sesi 2 -->
        <li class="divider" data-text="infromation" >Information</li>
        <li>
            <a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Pengumuman <i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Index">Daftar</a></li>
                <li><a asp-area="Dashboard" asp-controller="Pengumuman" asp-action="Tambah">Tambah</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="Dashboard" asp-controller="Rayon" asp-action="Index"><i class="ri-sticky-note-fill icon"></i>Rayon <i class="ri-arrow-right-s-line icon-right"></i></a>
            <ul class="side-dropdown">
                <li><a asp-area="Dashboard" asp-controller="Rayon" asp-action="Index">Daftar</a></li>
                <li><a asp-area="Dashboard" asp-controller="Rayon" asp-action="Tambah">Tambah</a></li>
            </ul>
        </li>
        <!-- Akhir Sesi 2 -->
    </ul> 
</section>
<!-- Akhir Sidebar -->


<!-- Navbar Dashboard Admin -->
<!-- Akhir Navbar Dashboard Admin -->


