<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gereja Ebenhaezer Oeba</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <!-- Akhir Owl Carousel -->
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Akhir Font Awesome-->

    <link rel="stylesheet" href="~/PKMGerejaEbenhaezer.Web.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <partial name="_NavbarPartial" />
    <!-- Navbar -->
    <!-- Body -->
    <div class="container-fluid badan-utama">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Akhir Body -->
    <!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="sec gambar" style="text-align:center;">
                <img src="~/img/logo_gereja.png" style="width:100px; padding-top: 50px;" />
            </div>
            <div class="sec quicklinks">
                <h2>Link Cepat</h2>
                <div class="sec quicklinks">
                    <ul>
                        <li><a class="bapakmu" asp-area="" asp-controller="" asp-action="" onclick="">Home</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="" asp-action="" onclick="">Warta</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="" asp-action="" onclick="">Pengumuman</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="" asp-action="" onclick="">Tentang Kami</a></li>
                        <li><a class="bapakmu" asp-area="" asp-controller="" asp-action="" onclick="">Kontak</a></li>
                    </ul>
                </div>
            </div>
            <div class="sec contact">
                <h2>Kontak Kami</h2>
                <ul class="info">
                    <li>
                        <span><i class="ri-map-pin-fill"></i></span>
                        <p>
                            <a href="">
                                Undana, Kupang, NTT, Indonesia
                            </a>
                        </p>
                    </li>
                    <li>
                        <span><i class="ri-phone-fill"></i></span>
                        <p>
                            <a href="">
                                +08 214 4711 486
                            </a>
                        </p>
                    </li>
                    <li>
                        <span><i class="ri-mail-fill"></i></span>
                        <p>
                            <a href="">
                                siteunc22@gmail.com
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="sec aboutus">
                <h2>Tentang Kami</h2>
                <p>
                    Bantu kami untuk memperbaiki sistem informasi ini dengan
                    melaporkan bug yang anda lihat <a asp-controller="Home" asp-action="LaporError" asp-route-id=""><span style="text-decoration: underline; color: rgb(21, 21, 150)">disini</span></a>
                </p>
                <ul class="sci">
                    <li><a href="https://www.instagram.com/site22_unc?igsh=MXdmYjZ3YnJqN2FvbA=="><i class="ri-instagram-fill"></i></a></li>
                    <li><a href=""><i class="ri-tiktok-fill"></i></a></li>
                    <li><a href="https://github.com/Lavitz1185/webSITE.git"><i class="ri-github-fill"></i></a></li>
                    <li><a href="https://discord.gg/e6H6FZkh"><i class="ri-discord-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright &copy;2024. All rights Reserved.</p>
    </div>


    <!-- Akhir Footer -->
    <!-- Akhir HomePage Section -->
    <!-- Script js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js" asp-append-version="true"></script>

    <script type="text/javascript">
        //Toggle Bang
        const menuBtn = $('.main-navbar .menu-btn');
        const menuList = $('.main-navbar .nav-list');
        const menuListItems = $('.nav-list li a');

        $(menuBtn).on('click', function () {
            $(menuBtn).toggleClass('active');
            $(menuList).toggleClass('active');
        });

        menuListItems.each(function (index, item) {
            $(item).on('click', menuItemClicked);
        });

        function menuItemClicked() {
            $(menuBtn).removeClass('active');
            $(menuList).removeClass('active');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
