<!-- Navbar -->
<nav class="main-navbar">
    <a href="#" class="logo">
        <img src="~/img/logo_gereja.png"/>
    </a>
    <ul class="nav-list">
        <li>
            <a asp-action="Index" asp-controller="Home" asp-area="">Home</a>
        </li>
        <li><a href="">Warta</a></li>
        <li><a href="">Pengumuman</a></li>
        <li><a href="">Tentang Kami</a></li>
        <li><a href="">Kontak</a></li>
    </ul>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <a asp-action="Index" asp-controller="Home" asp-area="Dashboard" class="login-btn mx-1">
            Dashboard
        </a>
        <form asp-action="Logout" asp-controller="Account">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    }
    else
    {
        <a asp-action="Login" asp-controller="Account" asp-area="" class="login-btn">
            Login Admin
        </a>
    }
    <div class="menu-btn">
        <span></span>
    </div>
</nav>
<!-- Akhir Navbar -->