* {
    font-family: 'poppins';
}

#blog-container {
    margin-top: 8rem;
    display: flex;
    padding: 30px 50px 30px 50px;
    align-items: flex-start;
    justify-content: space-between;
}

    #blog-container .blogs {
        width: 70%;
        margin: 0 auto;
    }

        #blog-container .blogs ::deep img {
            width: 40%;
            border-radius: 13px;
        }

        #blog-container .blogs .post h3 {
            color: #29303B;
            padding: 15px 0 0px 0;
            font-size: 30px;
            font-weight: 600;
        }

        #blog-container .blogs .post .info-blog {
            display: flex;           
            color: #29303B;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        #blog-container .blogs .post .info-blog h4 {
            color: #29303B;
            
        }

/* Ini paragraf */
.custom-text-ckeditor {
    text-align: justify;
    color: #757373;
    font-size: 14px;
    margin: 0;
}

        #blog-container .blogs .post .dokumen {            
            margin-top: 30px;
        }


/* --------------------------------------------------- Responsive --------------------------------------------------- */
/* Responsive 768 */
 @media(max-width: 768px) {

    #blog-container .blogs {
        width: 100%;
        margin-top: 30px;
    }

        #blog-container .blogs ::deep img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }

        #blog-container .blogs .post .info-blog {
            display: flex;
            flex-direction: column;
        }
}