/* CSS Pengumuman Bagian Top */
#peng-us {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("img/background1_gereja_testing.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-position-y: inherit;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
}

    #peng-us h2 {
        color: #fff;
        padding-top: 60px;
        font-size: 40px;
        font-weight: bold;
    }
/* Akhir CSS Pengumuman Bagian Top */


/* CSS Content Pengumuman Section */
section.peng {
    width: 100%;
    padding: 3% 100px 30px;
}

.peng .peng-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

    .peng .peng-contents h1 {
        width: 100%;
        padding: 70px 0 70px;
    }

    .peng .peng-contents .peng-card {
        flex-basis: calc(calc(100% / 3) - 1.2%);
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        cursor: pointer;
        transition: all 0.3s;
    }

        .peng .peng-contents .peng-card:hover {
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        }

.peng-contents .peng-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.peng-contents .peng-card .category {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.peng-card .category .subject {
    background-color: var(--primary-light-clr);
    border-radius: 5px;
    padding: 8px 10px;
}

    .peng-card .category .subject h3 {
        font-size: 18px;
        font-weight: 500;
        color: var(--primary-clr);
    }

.peng-card .peng-title {
    color: var(--dark-heading-clr);
    margin-top: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
}

.peng-contents .peng-card p {
    color: var(--dark-heading-clr);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-size: 13px;
}

.peng-card .peng-tombol {
    padding: 15px 0px 0px;
    display: flex;
    text-align: center;
    margin-right: 10px;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.peng-card .peng-tanggal {
    display: flex;
    padding: 15px 0px 0px;
    justify-content: space-between;
    align-items: center;
}

    .peng-card .peng-tanggal span {
        color: var(--primary-clr);
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

        .peng-card .peng-tanggal span:nth-child(1) i {
            color: var(--primary-clr);
            padding-right: 10px;
            font-size: 14px;
        }

        .peng-card .peng-tanggal span b {
            font-size: 24px;
        }

::deep .tombolseleng {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #000;
    padding: 10px 18px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

    ::deep .tombolseleng:hover {
        background-color: var(--light-heading-clr);
        color: var(--primary-clr);
        border: 1px solid var(--primary-clr);
    }
/* Akhir CSS Content Pengumuman Section */


/* CSS Type Input Text dan Select dan Textarea */
::deep .input-box label {
    color: #333;
    font-size: 14px;
}

::deep .input-box input {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box select {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 40px 5px 15px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    ::deep select.custom-select:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }

::deep .custom-select-wrapper {
    position: relative;
}

::deep .custom-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
    transform: translateY(-50%);
}

::deep select.custom-select option {
    background-color: #fff;
    color: #333;
}


::deep select.custom-select {
    max-height: 200px;
    overflow-y: auto;
}
/* Akhir CSS Type Input Text dan Select dan Textarea */


/* CSS Search dan Pagination */
::deep .penc .form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .penc .input-group {
    flex-wrap: nowrap;
    width: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::deep .penc .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 16px;
}

::deep .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

::deep .penc .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::deep .penc {
    padding: 30px 10px 30px;
    margin: 0;
}

::deep .pagination {
    padding: 30px 0px 10px;
    margin: 0;
    font-size: 16px;
}

::deep .page-item {
    margin: 0 5px;
}

::deep .page-link {
    padding: 5px 10px;
    font-size: 16px;
}

::deep .page-item.active .page-link {
    background-color: var(--primary-clr);
    border-color: var(--primary-clr);
    color: white;
}
/* Akhir CSS Search dan Pagination */


/* --------------------------------------------------- Responsive --------------------------------------------------- */
/*  Responsive 1160 */
@media (max-width:1160px) {

    /* CSS Pengumuman Bagian Top */
    #peng-us {
        background-attachment: scroll;
    }
    /* Akhir CSS Pengumuman Bagian Top */


    /* CSS Content Pengumuman Section */
    section.peng {
        padding: 8% 10px 30px;
    }

    .peng .peng-contents .peng-card {
        flex-basis: calc(calc(100% / 2) - 1.5%);
    }
    /* Akhir CSS Content Pengumuman Section */
}


/* Responsive 768 */
@media (max-width:768px) {

    /* CSS Content Pengumuman Section */
    section.peng {
        width: 100%;
    }
    /* Akhir CSS Content Pengumuman Section */


    /* CSS Type Input Text dan Select dan Textarea */
    ::deep select.custom-select {
        font-size: 14px;
        padding: 8px 35px 8px 10px;
    }

    ::deep .custom-arrow {
        right: 10px;
    }
    /* Akhir CSS Type Input Text dan Select dan Textarea */


    /* CSS Search dan Pagination */
    ::deep .penc .input-group {
        width: 100%;
    }
    /* Akhir CSS Search dan Pagination */
}


/* Responsive 690 */
@media (max-width:690px) {

    /* CSS Content Pengumuman Section */
    .peng .peng-contents .peng-card {
        flex-basis: 100%;
    }
    /* Akhir CSS Content Pengumuman Section */
}


/* Responsive 568 */
@media (max-width:568px) {

    /* CSS Pengumuman Bagian Top */
    #peng-us h2 {
        font-size: 30px;
        padding-top: 70px;
    }
    /* Akhir CSS Pengumuman Bagian Top */
}


/* Responsive 468 */
@media (max-width:468px) {

    /* CSS Pengumuman Bagian Top */
    #peng-us h2 {
        font-size: 25px;
        padding-top: 70px;
    }
    /* Akhir CSS Pengumuman Bagian Top */
}