/* Ini adalah style CSS Global Dashboard Admin */

* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

/* ckEditor5 */
.ck-editor__editable {
    min-height: 200px;
    padding: 5px 20px !important;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    color: #6c757d;
    line-height: 10px !important;
}
/* Akhir ckEditor5 */