/* Ini adalah style CSS Global (Tidak termasuk Dashboard Admin) */

/* Inisialisasi Google Font */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Akhir Inisialisasi Google Font */

* {
    font-family: 'Barlow Semi Condensed';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-clr: #10316B;
    --primary-medium-clr: #d8e9df;
    --primary-light-clr: #edfaf1;
    --bg-clr-1: #ffffff;
    --dark-heading-clr: #232d39;
    --dark-text-clr: #6c757d;
    --light-heading-clr: #efefef;
    --light-text-clr: #cecece;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 1rem;
    background: #ffffff ;
}

::-webkit-scrollbar-thumb {
    background: #8894a7;
    border-radius: .5rem;
}


/* Style Global Button btn */
button.btn {
    padding: 10px 18px;
    background-color: var(--primary-clr);
    color: var(--light-heading-clr);
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

    button.btn:hover {
        background-color: var(--light-heading-clr);
        color: var(--primary-clr);
        border: 1px solid var(--primary-clr);
    }
/* Akhir Style Global Button btn */

/* Style Global Anchor Mirip Button btn */
a.btn {
    padding: 10px 18px;
    background-color: var(--primary-clr);
    color: var(--light-heading-clr);
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

    a.btn:hover {
        background-color: var(--light-heading-clr);
        color: var(--primary-clr);
        border: 1px solid var(--primary-clr);
    }
/* Akhir Style Global Anchor Mirip Button btn */


/* Style Global Section Header */
.section-header h1{
    position: relative;
    font-size: 32px;
    letter-spacing: 1px;
    color: var(--dark-heading-clr);
    margin-bottom: 20px;
}

    .section-header h1::before {
        position: absolute;
        content: '';
        width: 100px;
        height: 1px;
        left: 0;
        top: calc(100% + 5px);
        background-color: var(--dark-text-clr);
    }

    .section-header h1::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 3px;
        left: 0;
        top: calc(100% + 4px);
        background-color: var(--primary-clr);
    }

.section-header p {
    color: var(--dark-text-clr);
    margin-bottom: 40px;
    font-size: 15px;
    max-width: 700px;
}
/* Akhir Style Global Section Header */