/* CSS Content Manajemen Akun Section */
.containerkun {
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2%;
}

.jud {
    margin-bottom: 30px;
}

.jud h1 {
    font-size: 32px;
    font-weight: bold;
}

    .jud p {
        font-size: 14px;
        font-weight: 400;
    }

.input-wrapper {
    position: relative;
}

    .input-wrapper input {
        padding-right: 30px;
    }

    .input-wrapper .toggle-password {
        position: absolute;
        right: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #707070;
    }
/* Akhir CSS Content Manajemen Akun Section */


/* CSS Type Input Text dan Select dan Textarea */
::deep .input-box label {
    color: #333;
    font-size: 14px;
}

::deep .input-box input {
    position: relative;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

::deep .input-box textarea {
    position: relative;
    font-size: 14px;
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
/* Akhir CSS Type Input Text dan Select dan Textarea */


/* --------------------------------------------------- Responsive --------------------------------------------------- */
/*  Responsive 968 */
@media (max-width:968px)  {
    .containerkun {
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8%;
    }
}