@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Style CSS -->
<style>
    /* Hero Section */
    #hero {
        background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("img/background_gereja_testing.jpg");
        margin: 0px auto;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        #hero h1 {
            font-family: 'Alex brush';
            color: #fff;
            padding-top: 50px;
            font-size: 80px;
            letter-spacing: 1px;
        }

        #hero p {
            color: #fff;
            font-size: 20px;
            letter-spacing: 1px;
            width: 50%;
        }
    /* Akhir Hero Section */

    /* Pengumuman Section */
    section.peng {
        width: 100%;
        padding-bottom: 80px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 8%;

    }

    .peng .section-header {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

        .peng .section-header .peng-btn {
            position: absolute;
            right: 0;
            bottom: 40px;
        }

    .peng .peng-contents {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        .peng .peng-contents .peng-card {
            flex-basis: calc(calc(100% / 3) - 1.2%);
            border: 1px solid #eee;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s;
        }

            .peng .peng-contents .peng-card:hover {
                box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
            }

    .peng-contents .peng-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

    .peng-contents .peng-card p {
        margin-top: 10px;
        font-size: 13px;
        color: var(--dark-heading-clr);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 7;
        text-overflow: ellipsis;
        line-height: 1.5em;
    }

    .peng-contents .peng-card .category {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }

    .peng-card .category img {
        position: absolute;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        right: 15px;
        top: -50px;
        outline: 1px solid var(--primary-clr);
        outline-offset: 3px;
    }

    .peng-card .category .subject {
        padding: 8px 10px;
        background-color: var(--primary-light-clr);
        border-radius: 5px;
    }

        .peng-card .category .subject h3 {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-clr);
        }

    .peng-card .peng-title {
        font-size: 20px;
        font-weight: 600;
        color: var(--dark-heading-clr);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        line-height: 1.3;
    }

    .peng-card .peng-tanggal {
        padding: 15px 0px 0px;
        border-top: 1px solid #ccc;
    }

        .peng-card .peng-tanggal span {
            color: var(--primary-clr);
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

            .peng-card .peng-tanggal span:nth-child(1) i {
                color: var(--primary-clr);
                padding-right: 10px;
                font-size: 14px;
            }

            .peng-card .peng-tanggal span b {
                font-size: 24px;
            }

    .owl-carousel .owl-nav {
        display: none;
    }

    .owl-carousel .owl-dots {
        margin-top: 5px;
    }

        .owl-carousel .owl-dots span {
            padding: 4px !important;
        }

        .owl-carousel .owl-dots.active span {
            background-color: var(--primary-clr) !important;
        }

    /* Akhir Pengumuman Section */




    /* About Us */
    #about-container {
        display: flex;
        align-items: center;
        padding: 2vw 8vw 2vw 8vw;
    }

        #about-container .about-img {
            height: 450px;
            width: 50%;
            padding-left: 50px;
            align-items: center;
        }

            #about-container .about-img img {
                width: 100%;
            }

        #about-container .about-text {
            width: 50%;
        }

            #about-container .about-text h2 {
                font-size: 40px;
                color: #29303B;
                padding-bottom: 15px;
            }

            #about-container .about-text p {
                color: #686F7A;
                font-size: 16px;
                padding-bottom: 15px;
                font-weight: 300;
            }

            #about-container .about-text .about-fe {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 30px;
            }

                #about-container .about-text .about-fe img {
                    width: 50px;
                    background-size: cover;
                    background-position: center;
                    margin-right: 20px;
                }

                #about-container .about-text .about-fe .fe-text {
                    width: 90%;
                }

                    #about-container .about-text .about-fe .fe-text h5 {
                        font-size: 16px;
                        color: #29303B;
                    }

    #doughnut {
        /* box-shadow: 0 7px 25px rgba(0,0,0,0.08); */
    }

    #about-container .counters {
        padding: 3em 2em;
        background: var(--primary-clr);
        color: white;
        text-align: center;
    }

    .counters > div {
        max-width: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4em 2em;
    }

    #about-container .counters .counter {
        position: relative;
    }

    #about-container .counters .counter h4 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    #about-container .counters .counter h4 span {
        color: white;
    }

        #about-container .counters .counter:not(:last-child)::before {
        content: '';
        background: #fff;
        position: absolute;
        width: 2px;
        height: 3em;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Akhir About Us */
</style>

<!-- Hero Section -->
<section id="hero" class="container-fluid">
    <h1>Gairah Untuk Mengenal Kristus</h1>
    <p>
        "Inilah hidup yang kekal itu, yaitu bahwa mereka mengenal engkau, satu-satunya Allah
        yang benar, dan mengenal Yesus Kristus yang telah Engkau utus."
        <br />
        (Injil Yohanes 17:3)
    </p>
</section>
<!-- Akhir Hero Section -->
<!-- Pengumuman Section -->
<section class="peng">
    <!-- Header Pengumuman Section -->
    <header class="section-header">
        <div class="header-text">
            <h1>Pengumuman Gereja</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <button class="peng-btn btn">Lihat Semua</button>
    </header>
    <!-- Akhir Header Pengumuman Section -->
    <!-- Content Pengumuman Section -->
    <div class="peng-contents">
        <div class="owl-carousel owl-theme fernand">
            @if (Model.DaftarPengumuman != null || Model.DaftarPengumuman.Count > 0)
            {
                @foreach (var pengumuman in Model.DaftarPengumuman)
                {
                    var cultureInfo = new System.Globalization.CultureInfo("id-ID");
                    <!-- Ini Cardnya Bang -->
                    <div class="item peng-card">
                        <img src="@pengumuman.PathFoto" />
                        <div class="category">
                            <div class="subject">
                                <h3>Pengumuman</h3>
                            </div>
                        </div>
                        <h2 class="peng-title">@pengumuman.Judul</h2>
                        <p>@pengumuman.Keterangan</p>
                        <div class="peng-tanggal">
                            <span><i class="ri-calendar-fill"></i>@pengumuman.Tanggal.ToString(cultureInfo.DateTimeFormat.LongDatePattern, cultureInfo)</span>
                        </div>
                    </div>
                    <!-- Ini Akhir Cardnya Bang -->
                }
            }
        </div>
    </div>
    <!-- Akhir Pengumuman Section -->
</section>
<!-- Akhir Pengumuman Section -->
<!-- Chart Section -->

<section id="about-container" class="mb-5">
    <div class="about-img">
        <canvas id="doughnut"></canvas>
    </div>
    <div class="about-text">
        <h2>Jumlah Jemaat Gereja GMIT Ebenhaezer Oeba</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris.
        </p>
        @* <div class="about-fe">
            <div class="fe-text">
                <h5 data-aos="fade-in">Jumlah Coders</h5>
                <p data-aos="fade-in">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div> *@

        <div class="counters">
            <div>
                <div class="=counter">
                    <h3><span data-count="90">0</span></h3>
                    <h4>Lansia</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="410">0</span></h3>
                    <h4>Dewasa</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="240">0</span></h3>
                    <h4>Pemuda</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="160">0</span></h3>
                    <h4>Remaja</h4>
                </div>
                <div class="=counter">
                    <h3><span data-count="100">0</span></h3>
                    <h4>Anak</h4>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Chart Section -->
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.badan-utama').css({
                'padding-left': '0',
                'padding-right': '0',
                'padding-top': '0rem',
            });
        });
    </script>
}
