/* CSS SejarahGereja Bagian Top */
#sejeo {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("img/background1_gereja_testing_min.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    background-position-y: inherit;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #sejeo h2 {
        color: #fff;
        padding-top: 60px;
        font-size: 40px;
        font-weight: bold;
        max-width: 80%;
        margin: 0 auto;
        word-wrap: break-word;
    }
/* Akhir CSS SejarahGereja Bagian Top */


.container-sejarah-gereja {
    margin: 4vw 5vw 3vw;
}

.container-sejarah {
    display: flex;
    margin-bottom: 30px;
}

.tahun-sejarah {
}

.text-tahun {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.text-tahun h5 {
    padding-top: 10px;
    font-size: 16px;
    color: #ADADAD;
}

.isi-sejarah {
}

.text-isi {
    display: flex;
    flex-direction: column;
}

    .text-isi h3 {
        font-size: 32px;
        color: black;
        font-weight: bold;
    }

    .text-isi p {
        font-size: 16px;
    }



/* Responsive 968px */
@media (max-width:968px) {


    #sejeo {
        background-attachment: scroll;
    }


    .container-sejarah {
        display: flex;
        flex-direction: column;
    }

    .text-tahun {
        display: flex;
        justify-content: start;
    }
}

/* Responsive 568 */
@media (max-width:568px) {


    #sejeo h2 {
        font-size: 35px;
        padding-top: 70px;
    }
}


/* Responsive 468 */
@media (max-width:468px) {

    #sejeo h2 {
        font-size: 30px;
        padding-top: 70px;
    }
}
