/* CSS VIsiMisi Bagian Top */
#visimisi {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("img/background1_gereja_testing_min.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    background-position-y: inherit;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #visimisi h2 {
        color: #fff;
        padding-top: 60px;
        font-size: 40px;
        font-weight: bold;
        max-width: 80%;
        margin: 0 auto;
        word-wrap: break-word;
    }
/* Akhir CSS VIsiMisi Bagian Top */


.container-visi-misi {
    display: flex;
    margin: 4vw 0vw;
}

.visi {
    padding: 40px 20px;
    /*background-color: var(--primary-clr);*/
    background-color: #173c7c;
}

.text-visi {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

    .text-visi h3 {
        color: #F5F5F5;
        font-size: 38px;
        font-weight: bold;
    }

    .text-visi p {
        color: #F5F5F5;
        line-height: 2.5rem;
        font-size: 16px;
    }

.misi {
    padding: 40px 20px;
    /*background-color: #FFC107;*/
    background-color: #ffca2b;
}

.text-misi {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.text-misi h3 {
    font-size: 38px;
    color: black;
    font-weight: bold;
}

.text-misi p {
    font-size: 16px;
    text-align: start;
    color: black;
}

    .text-misi ol {
        font-size: 16px;
        text-align: start;
        color: black;
    }

    .text-misi ol li {
        font-size: 16px;
        text-align: start;
        color: black;
    }




/* Responsive 968px */
@media (max-width:968px) {


    #visimisi {
        background-attachment: scroll;
    }

    .container-visi-misi {
        display: flex;
        flex-direction: column;
    }
}

/* Responsive 568 */
@media (max-width:568px) {


    #visimisi h2 {
        font-size: 35px;
        padding-top: 70px;
    }
}


/* Responsive 468 */
@media (max-width:468px) {

    #visimisi h2 {
        font-size: 30px;
        padding-top: 70px;
    }
}
