/* CSS VIsiMisi Bagian Top */
#visimisi {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("img/background1_gereja_testing_min.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    background-position-y: inherit;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #visimisi h2 {
        color: #fff;
        padding-top: 60px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 1px;
    }
/* Akhir CSS VIsiMisi Bagian Top */


/* Responsive 968px */
@media (max-width:968px) {


    #visimisi {
        background-attachment: scroll;
    }
}

/* Responsive 568 */
@media (max-width:568px) {


    #visimisi h2 {
        font-size: 30px;
        padding-top: 70px;
    }
}


/* Responsive 468 */
@media (max-width:468px) {

    #visimisi h2 {
        font-size: 25px;
        padding-top: 70px;
    }
}
